Electronic/**/fp-info-cache
Electronic/**/*-bak
Electronic/**/*-rescue.dcm
Electronic/**/*-cache.lib
Electronic/**/*-rescue.lib
Electronic/**/*.net
Electronic/**/*.dsn
Electronic/**/*.ses
Electronic/**/*.rules
Electronic/**/*.xml